<div class="row">

	<div class="col-md-7">
		<div class="well well-lg">

			<dl class="dl-horizontal">
				<dt>Имя</dt>
				<dd><%= @category.name %></dd>
				<dt>URL</dt>
				<dd><%= link_to @category.url_path, @category.url_path %></dd>
				<dt>Количество</dt>
				<dd><%= @category.child_num %></dd>
			</dl>

			<p class="download_link">
			  Скачать: <%= link_to "Excel", category_path(@category, format: "xls") %>
			</p>

		</div>
	</div>

	<div class="col-md-5">
		<div class="well well-lg">
			<%= button_to "Загрузить список подкатегорий", extract_category_path(@category), class: "btn btn-sm btn-primary center-block", method: :post %>
			<%= button_to "Загрузить детальную информацию по продуктам", extract_prod_category_path(@category), class: "btn btn-sm btn-primary center-block", method: :post, remote: true %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well-lg" id="job-status" data-url="/get_status/">
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<tr>
			<th>Имя</th>
			<th>URL</th>
			<th>Количество</th>
		</tr>
		
		<% @subcategories.each do |sub| %>
			<tr>
				<td><%= link_to sub.name, sub %></td>
				<td><%= link_to sub.url_path, sub.url_path %></td>
				<td><%= sub.child_num %></td>
			</tr>
		<% end %>

	</table>
</div>